# === TelegramKeys ===
TG_API_TOKEN='api-key'
PRESIDENT_ID=telegram-id
TREASURER_ID=telegram-id
# опцианально сменить ID на казначейский

# === RedisKeys ===
USE_REDIS=True
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# === PostgresKeys ===
POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DOCKER_POSTGRES_HOST=postgres
DOCKER_POSTGRES_PORT=5432

# === ProjectKeys ===
DEBUG=True

# dirs
RESOURCE_DIR=resources/
TEMPLATES_DIR=resources/templates/
EQUIPMENT_PERSON_DATA_DIR=resources/equipments/
REFUND_BILLS_DIR=resources/refund_bills/

# locale
LOCALE_DIR=l10n/
AVAILABLE_LOCALES=ru

# === LoggerKeys (optional) ===
SHOW_DEBUG_LOGS=True

SHOW_DATETIME=True
DATETIME_FORMAT='%Y-%m-%d %H:%M:%S'
TIME_IN_UTC=True

USE_COLORS_IN_CONSOLE=True

LOG_TO_FILE=True
LOG_FILE_PATH=logs/bot.log
LOG_FILE_MAX_SIZE=10485760
LOG_FILE_BACKUP_COUNT=5
